.content {
    position: fixed;
    left: 250px;
    right: 1rem;
    top: 0;
    bottom: 100px;
    display: flex;
    margin-top: 1rem;
}

.main {
    flex-grow: 1;
    overflow: hidden;
    background: var(--nextui-colors-backgroundSecondary);
    border-radius: 50px;
    position: relative;

    ::-webkit-scrollbar-track {
        margin: 50px 0;
    }

    .page {
        padding: 2rem 2rem 1rem 2rem;
        overflow-x: hidden;
        overflow-y: auto;
        height: 100%;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: inherit;
        box-shadow: var(--nextui-shadows-center) inset;
        pointer-events: none;
        z-index: 10;
    }
}

.roundButton {
    svg {
        height: 30px;
        width: 30px;
    }
}