.content {
    position: fixed;
    left: 250px;
    right: 0px;
    top: 0;
    bottom: 100px;
    overflow-x: auto;
    display: flex;
    border-radius: 50px;
    background: var(--nextui-colors-backgroundSecondary);
    margin: 1rem 1rem 0 0;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: inherit;
        box-shadow: var(--nextui-shadows-center) inset;
        pointer-events: none;
        z-index: 10;
    }

    ::-webkit-scrollbar-track {
        margin: 50px 0;
    }
}

.main {
    flex-grow: 1;
    padding: 1rem 1rem 0 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}

.rightSpace {
    flex-grow: 0;
    flex-shrink: 0;
    width: 800px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    padding-left: 1rem;
}

@media only screen and (max-width: 2300px) {
    .rightSpace {
        width: 700px;
    }
}

@media only screen and (max-width: 2000px) {
    .rightSpace {
        width: 600px;
    }
}