.container {
    width: 70px;
    height: 40px;
    position: relative;
    

    google-cast-launcher {
        --disconnected-color: var(--nextui-colors-text);
        --connected-color: var(--nextui-colors-primary);
    }

    :before {
        content: "";
        position: absolute;
        top: 5px;
        cursor: pointer;
        width: 30px;
        height: 30px;
        opacity: 0.5;
    }

    .sizer {
        width: 35px;
        display: flex;
        align-items: center;
        margin-left: 17px;
        height: 100%;
        position: relative;
        top: 3px;
    }
}