.roundButton {
    svg {
        height: 30px;
        width: 30px;
    }
}

.contextButton {
    width: 64px !important;
    min-width: 0 !important;

    svg {
        height: 30px;
        width: 30px;
    }
}

.top {
    margin-bottom: var(--nextui-space-4) !important;
    padding-left: 0 !important;
}