.top {
    display: flex;
    gap: 1.5rem;

    .imageContainer {
        height: 150px;
        width: 150px;
        flex-grow: 0;
        flex-shrink: 0;
        border-radius: 20px;
        overflow: hidden;
        border: 2px solid var(--nextui-colors-border);
    }

    .info {
        flex-grow: 1;
    }
}

.loader {
    min-height: 200px;
    position: relative;
}

.roundButton {
    svg {
        height: 30px;
        width: 30px;
    }
}

.top {
    margin-bottom: var(--nextui-space-4) !important;
    padding-left: 0 !important;
}

.contextButton {
    width: 64px !important;
    min-width: 0 !important;

    svg {
        height: 30px;
        width: 30px;
    }
}

.buttons {
    margin-left: 0 !important;
    padding-left: 0 !important;
}