// .container {
//     position: absolute;
//     top: -40px;
//     bottom: -40px;
//     left: -40px;
//     right: -40px;
//     border-radius: inherit;
//     z-index: 1;
//     filter: blur(40px);
// }

// .animationContainer {
//     border-radius: inherit;
//     height: 100%;
//     overflow: hidden;

//     .svg {
//         height: 100%;
//         width: 100%;
//     }
// }


.container {
    position: relative;

    background: inherit;
    border-radius: inherit;
}

.background {
    background: inherit;
    border-radius: inherit;
    overflow: hidden;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: inherit;
        z-index: 1;
        opacity: 0.7;
        transition: background 0.2s, opacity 0.2s;
    }

    &:hover::before {
        opacity: 0.8;
    }

    .children {
        position: relative;
        z-index: 2;
    }
}

.glow {
    position: absolute;
    top: var(--glowEffect-offset);
    bottom: var(--glowEffect-offset);
    left: var(--glowEffect-offset);
    right: var(--glowEffect-offset);
    filter: blur(var(--glowEffect-spread));
    overflow: hidden;
    border-radius: inherit;
    pointer-events: none;
    
    .svg {
        width: 100%;
        height: 100%;
    }
}