.title {
    margin-top: var(--nextui-space-15);
}

.bottom {
    margin-bottom: 1rem;
}

.loaderContainer {
    position: relative;
    height: 200px;
}

.charts {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.chart {
    width: calc((100% - 5rem) / 6);
}

@media only screen and (max-width: 3500px) {
    .chart {
        width: calc((100% - 4rem) / 5);
    }
}

@media only screen and (max-width: 3200px) {
    .chart {
        width: calc((100% - 3rem) / 4);
    }
}

@media only screen and (max-width: 2700px) {
    .chart {
        width: calc((100% - 2rem) / 3);
    }
}

@media only screen and (max-width: 2000px) {
    .chart {
        width: calc((100% - 1rem) / 2);
    }
}

@media only screen and (max-width: 1500px) {
    .chart {
        width: 100%
    }
}