.container {
    position: relative;
    display: block;
    background: var(--nextui-colors-background);
    border-radius: var(--nextui-radii-base);
    width: 200px;
    transition: background 0.2s;
    box-shadow: var(--nextui-shadows-md);

    &:hover {
        background: var(--nextui-colors-secondaryLightHover);
    }
}

.link {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.imageContainer {
    width: 100%;
    aspect-ratio: 1;
    background: var(--nextui-colors-waitingBackground);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    border-radius: var(--nextui-radii-base);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: pointer;

    img {
        pointer-events: none;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        position: relative;
        z-index: 1;
    }

    .image {
        box-sizing: border-box;
        border: 2px solid var(--nextui-colors-border);
        border-radius: var(--nextui-radii-base);
        overflow: hidden;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.info {
    display: block;
    overflow: hidden;
    margin: 0.5rem 1rem;
    
    .title {
        font-size: var(--nextui-fontSizes-xl);
        font-weight: var(--nextui-fontWeights-semibold);
        word-wrap: break-word;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        
    }
    
    .subtitle {
        color: var(--nextui-colors-text);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        max-width: 100%;
        opacity: 0.5;
        font-weight: var(--nextui-fontWeights-normal);
    }
}

