.container {
    margin: 0 0 var(--nextui-space-8) 0;
    border-radius: var(--nextui-radii-base);
    position: relative;
    max-width: 1400px;
    background: var(--nextui-colors-background);
    transition: background 0.2s;
    box-shadow: var(--nextui-shadows-md);

    &:hover {
        background: var(--nextui-colors-secondaryLightHover);
    }

    .box {
        display: flex;
        color: var(--nextui-colors-text);
        overflow: hidden;
        position: relative;
    }
}

.image {
    width: 100px;
    height: 100px;
    background: var(--nextui-colors-waitingBackground);
    flex-shrink: 0;
    margin-right: var(--nextui-space-8);
    position: relative;
    overflow: hidden;
    border-radius: var(--nextui-radii-base);
    border: 2px solid var(--nextui-colors-border);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: pointer;

    .thumbnail {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        object-fit: cover;
    }
}

.info {
    width: calc(100% - 100px - var(--nextui-space-8));
    overflow: hidden;
    display: block;
}

.trackName {
    font-size: var(--nextui-fontSizes-2xl);
    font-weight: var(--nextui-fontWeights-semibold);
    white-space: nowrap;
    min-width: auto;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    margin-top: 0.5rem;
    max-width: 100%;
}

.artists {
    color: var(--nextui-colors-text);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}

.contextButton {
    margin: 5px 5px 0 0;
}

.dropdownLink {
    color: inherit;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-left: var(--nextui-space-6);
    padding-right: var(--nextui-space-6);
    border-radius: var(--nextui--dropdownItemBorderRadius);
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 1500px) {
    .image {
        height: 80px;
        width: 80px;
        margin-right: var(--nextui-space-4)
    }

    .trackName {
        font-size: var(--nextui-fontSizes-lg);
    }

    .artists {
        font-size: var(--nextui-fontSizes-md);
    }
}