.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 5rem 0 0 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.title {
    text-align: center;
    margin-bottom: 5rem;
    flex-shrink: 0;
}

.modal {
    width: calc(100% - 4rem);
    max-width: 600px;
    border-radius: var(--nextui-radii-2xl);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem 1rem 2rem;
    gap: 1rem;
    text-align: center;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: var(--nextui-colors-backgroundSecondary);
        z-index: -1;
        opacity: 0.6;
        transition: opacity 0.2s;
    }

    &:hover::before {
        opacity: 0.8;
    }

    &:has(:focus)::before {
        opacity: 0.8;
    }

    .input {
        margin-bottom: 2rem;
    }

    .notice {
        font-size: var(--nextui-fontSizes-lg);
        margin-bottom: 1.5rem;
    }

    .modalOpen {
        margin: 0 auto;
    }
}

.modalClose {
    margin: 0 auto;
}