.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.fadeContainer {
    flex-grow: 0;
    display: block;
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100px;
        background: linear-gradient(0deg, transparent 0%, var(--nextui-colors-background) 100%);
        z-index: 1;
        pointer-events: none;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100px;
        background: linear-gradient(180deg, transparent 0%, var(--nextui-colors-background) 100%);
        z-index: 1;
        pointer-events: none;
    }

    ::-webkit-scrollbar-track {
        margin: 100px 0;
    }
}

.mainContainer {
    height: 100%;
    position: relative;
    overflow-y: auto;
}

.scrollContainer {
    padding: 100px 0;
}

.lyric {
    font-weight: var(--nextui-fontWeights-semibold);
    font-size: 2.2rem;
    margin: 1rem 0;
}


.synced {
    .mainContainer {
        overflow-y: hidden;
    }

    .scrollContainer {
        padding: 150vh 0 50vh 0;
    }

    .lyric {
        margin-left: 1rem;
        transform: scale(0.6);
        filter: blur(1px);
        transition: color 0.2s, transform 0.2s, opacity 0.2s, filter 0.2s;
        opacity: 0.8;
        transform-origin: left;
        cursor: pointer;
    }

    .activeLyric {
        transform: scale(1);
        filter: none;
        opacity: 1;
    }
}