.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.fadeContainer {
    flex-grow: 0;
    display: block;
    position: relative;
    overflow: hidden;

    --scrollbar-width: calc(1rem + 6px);
    --mask-height: 100px;
    overflow-y: auto;
    
    --mask-image-content: linear-gradient(
        to bottom,
        transparent,
        black var(--mask-height),
        black calc(100% - var(--mask-height)),
        transparent
    );

    --mask-size-content: calc(100% - var(--scrollbar-width)) 100%;
    --mask-image-scrollbar: linear-gradient(black, black);

    --mask-size-scrollbar: var(--scrollbar-width) 100%;

    mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
    -webkit-mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
    mask-size: var(--mask-size-content), var(--mask-size-scrollbar);
    -webkit-mask-size: var(--mask-size-content), var(--mask-size-scrollbar);

    mask-position: 0 0, 100% 0;
    -webkit-mask-position: 0 0, 100% 0;

    mask-repeat: no-repeat, no-repeat;
    -webkit-mask-repeat: no-repeat, no-repeat;

    ::-webkit-scrollbar-track {
        margin: 100px 0;
    }
}

.mainContainer {
    height: 100%;
    position: relative;
    overflow-y: auto;
}

.scrollContainer {
    padding: 100px 0;
}

.lyric {
    font-weight: var(--nextui-fontWeights-semibold);
    font-size: 2.2rem;
    margin: 1rem 0;
}


.synced {
    .mainContainer {
        overflow-y: hidden;
    }

    .scrollContainer {
        padding: 150vh 0 50vh 0;
    }

    .lyric {
        margin-left: 1rem;
        transform: scale(0.6);
        filter: blur(1px);
        transition: color 0.2s, transform 0.2s, opacity 0.2s, filter 0.2s;
        opacity: 0.8;
        transform-origin: left;
        cursor: pointer;
    }

    .activeLyric {
        transform: scale(1);
        filter: none;
        opacity: 1;
    }
}