.container {
    display: flex;
    justify-content: stretch;
    align-items: center;
    gap: 1rem;
}

.number {
    width: 100px;
    text-align: center;
    flex-grow: 0 !important;
    flex-shrink: 0;
}

.container > * {
    flex-grow: 1;
}

.children {
    flex-grow: 1;
    width: 0;
}

@media only screen and (max-width: 1500px) {
    .number {
        width: 50px;
        font-size: var(--nextui-fontSizes-3xl);
    }
}