.user {
    img {
        transform: scale(1.3);
    }
}

.loader {
    margin-right: 1rem;
}

.container {
    margin-right: 1rem;
}

.dropdownLink {
    color: inherit;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-left: var(--nextui-space-6);
    padding-right: var(--nextui-space-6);
    border-radius: var(--nextui--dropdownItemBorderRadius);
    display: flex;
    align-items: center;
}