.roundButton {
    svg {
        height: 30px;
        width: 30px;
    }
}

.contextButton {
    width: 64px !important;
    min-width: 0 !important;

    svg {
        height: 30px;
        width: 30px;
    }
}

.underline {
    text-decoration: underline;
}

.suggestions {
    position: relative;
    min-height: 200px;
    margin: 2rem 0 1rem 0;
}