.queueContainer {
    text-align: right;

    .queueButton {
        display: inline-block;
        margin: 10px 10px 0 0;
    }
}

.queueTitle {
    position: relative;
    z-index: 1;
}

.queuePopover {
    padding: 1rem;
    transform: translate(-1rem, -12px) !important;
    width: 500px;
    max-height: calc(100vh - 200px) !important;

    .queueTitle {
        margin: var(--nextui-space-8);
    }

    h3 {
        margin: 0 !important;
    }
}

.roundButton {
    svg {
        height: 30px;
        width: 30px;
    }
}

.container {
    position: relative;
    height: 100%;

    ::-webkit-scrollbar-track {
        margin: 50px 0;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50px;
        z-index: 5;
        background: linear-gradient(180deg, transparent 0%, var(--nextui-colors-background) 100%);
        pointer-events: none;
    }

    .scroll {
        height: 100%;
        overflow-y: auto;
        padding-top: 70px;
        padding-bottom: 50px;
    }
}

.topButtons {
    padding: 0 !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    background: linear-gradient(0deg, transparent 0%, var(--nextui-colors-background) 80%);
}