.queueContainer {
    text-align: right;

    .queueButton {
        display: inline-block;
        margin: 10px 10px 0 0;
    }
}

.queueTitle {
    position: relative;
    z-index: 1;
}

.queuePopover {
    padding: 1rem;
    transform: translate(-1rem, -12px) !important;
    width: 500px;
    max-height: calc(100vh - 200px) !important;

    .queueTitle {
        margin: var(--nextui-space-8);
    }

    h3 {
        margin: 0 !important;
    }
}

.roundButton {
    svg {
        height: 30px;
        width: 30px;
    }
}

.rightSideContainer {
    margin: 1rem 1rem 1rem 0;
}