.roundButton {
    svg {
        height: 30px;
        width: 30px;
    }
}

.container {
    position: relative;
    height: 100%;
    overflow: hidden;

    .scroll {
        height: 100%;
        overflow-y: auto;
        padding-top: 20px;

        .space {
            height: 50px;
        }
    }
}

.topButtons {
    padding: 0 !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}