.top {
    position: sticky;
    display: flex;
    flex-direction: row;
    top: 0;
    z-index: 99999999;

    &>* {
        // box-shadow: 0 12px 20px 6px var(--nextui-colors-primaryAlpha);
        background: var(--nextui-colors-accents0);
    }
}

.list {
    position: relative;
    margin-top: 3rem;
    min-height: calc(100vh - 260px - 3rem);
}

.button {
    height: 52px !important;
    background: var(--nextui-colors-accents0) !important;
    margin-left: 1rem;
}

.buttonGroup {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;

    .icon {
        width: 1.5rem;
        height: 1.5rem;
        object-fit: contain;
        margin-right: 0.5rem;
    }
}