.top {
    position: sticky;
    display: flex;
    flex-direction: row;
    top: 0;
    z-index: 9999;

    &>* {
        background: var(--nextui-colors-accents0);
    }
}

.list {
    position: relative;
    margin-top: 3rem;
    min-height: calc(100vh - 300px - 3rem);
}

.button {
    height: 52px !important;
    background: var(--nextui-colors-accents0) !important;
    margin-left: 1rem;
}

.buttonGroup {
    margin-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    gap: 0.5rem;
    overflow-x: auto;

    .icon {
        width: 1.5rem;
        height: 1.5rem;
        object-fit: contain;
        margin-right: 0.5rem;
    }
}

.playlists {
    display: flex;
    flex-wrap: wrap;
    // max-width: 1400px;
    margin-bottom: 1rem;
    gap: 1rem;
}