.container {
    width: 100%;
    display: flex;
    transition: opacity 0.2s;
    border-radius: var(--nextui-radii-2xl);
    color: var(--nextui-colors-text);
    transition: background 0.2s;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    isolation: isolate;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: var(--nextui-colors-backgroundSecondary);
        z-index: -1;
        opacity: 0.6;
        transition: opacity 0.2s;
    }

    &:hover::before {
        opacity: 0.8;
    }

    .content {
        flex-grow: 1;
        margin-top: 1rem;
    }

    h4 {
        margin-bottom: 1rem;
    }

    .button {
        margin: 0 1rem 1rem 0;
        width: 130px;
    }

    .smallButton {
        margin: 0 1rem 1rem 0;
        padding: 0;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .iconContainer {
        padding: 0 1rem;
        position: relative;

        .icon {
            width: 50px;
            height: 50px;
            position: relative;
            top: 50%;
            transform: translateY(-50%);

        }
    }

    .buttonIcon {
        width: 30px;
        height: 30px;
    }
}

.underline {
    text-decoration: underline;
}