.container {
    position: relative;
    display: block;
    height: 100px;
    margin: 1rem 0;
    background: var(--nextui-colors-backgroundSecondary);
    border-radius: var(--nextui-radii-base);
    max-width: 800px;
    transition: background 0.2s;

    &:hover {
        background: var(--nextui-colors-secondaryLightHover);
    }
}

.link {
    width: 100%;
    display: flex;
    align-items: start;
}

.imageContainer {
    width: 100px;
    height: 100px;
    background: var(--nextui-colors-waitingBackground);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
    margin-right: var(--nextui-space-8);
    position: relative;
    overflow: hidden;
    border-radius: var(--nextui-radii-base);
    border: 2px solid var(--nextui-colors-border);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: pointer;

    img {
        pointer-events: none;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        position: relative;
        z-index: 1;
    }

    .quarterImage {
        display: inline-block;
        margin-bottom: -6px;
        width: 50%;
        height: 50%;
    }

    .noImage {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.title {
    display: block;
    margin-top: 10px;
    font-size: var(--nextui-fontSizes-2xl);
    font-weight: var(--nextui-fontWeights-semibold);
    word-wrap: break-word;
    width: 90%;
    min-width: auto;
}