.container {
    position: relative;
    display: block;
    height: 100px;
    background: var(--nextui-colors-background);
    border-radius: var(--nextui-radii-base);
    max-width: 800px;
    transition: background 0.2s;
    overflow: hidden;
    box-shadow: var(--nextui-shadows-md);

    &:hover {
        background: var(--nextui-colors-secondaryLightHover);
    }
}

.link {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
}

.imageContainer {
    height: 100px;
    width: 100px;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: var(--nextui-radii-base);
    overflow: hidden;
    border: 2px solid var(--nextui-colors-border);
}

.title {
    display: block;
    margin: 10px var(--nextui-space-8) 0 1rem;
    font-size: var(--nextui-fontSizes-2xl);
    font-weight: var(--nextui-fontWeights-semibold);
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}