.top {
    height: 200px;

    .topFlex {
        display: flex;
        gap: 1rem;
    }

    .topImage {
        width: 200px;
        height: 200px;
        flex-shrink: 0;
        border-radius: 20px;
        overflow: hidden;
        cursor: pointer;
    }

    .topInfo {
        flex-grow: 1;
        overflow: hidden;

        .titleContainer {
            margin: 0;
            padding: 0 !important;
            height: 75px;

            .title {
                margin: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .artist {
            margin: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .waveform {
            height: 90px;
            cursor: pointer;
        }
    }
}

.roundButton {
    svg {
        height: 30px;
        width: 30px;
    }
}

.underline {
    text-decoration: underline;
}

.suggestions {
    margin-top: 100px;

    .suggestionsLoader {
        width: 200px;
        position: relative;
        height: 100px;
    }
}

.contextButton {
    width: 64px !important;
    min-width: 0 !important;

    svg {
        height: 30px;
        width: 30px;
    }
}